<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

    <context:component-scan base-package="news_treatment"/>
    <context:component-scan base-package="configuration"/>

    <mvc:annotation-driven/>

    <bean id="newsProcessing" class="configuration.NewsProcessing" scope="prototype"/>

    <bean id="sourceConfig" class="configuration.sources.SourceConfig" scope="prototype"/>

    <bean id="loggerListener" class="news_treatment.logging.LoggerListener"/>
    <bean id="consoleEventLogger" class="news_treatment.logging.ConsoleEventLogger"/>

    <bean id="xmlParser" class="news_treatment.xml_parser.XMLParserToJson" scope="prototype">
        <constructor-arg ref="sourceConfig"/>
    </bean>
    <bean id="jsonStorage" class="news_treatment.json_news_storage.JSONStorage" scope="prototype"/>

    <!-- change to interceptor-->
    <bean id="filterByAuthor" class="news_treatment.news_filters.FilteringByAuthor">
        <constructor-arg value="admin"/>
    </bean>

    <bean id="jspView" class="news_treatment.jsp_handler.JspView" scope="prototype"/>
    <bean id="newsSession" class="news_treatment.news_session.NewsSession" scope="prototype"/>
    <bean id="downloadNewsFeedFile" class="news_treatment.downloading_news_file.DownloadNewsFeedFile" scope="prototype">
        <constructor-arg ref="sourceConfig"/>
    </bean>

</beans>